<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-3.5.1.js"></script>
    <script src="~/Scripts/script.js"></script>
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="logo">
            <a class="navbar-brand" href="/"><img src="~/Images/LOGO.ico" /></a>
        </div>
        <div class="menu">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">@Html.ActionLink("Thông tin sản phẩm", "Index", "thongtinmathangs")</li>
                    <li class="nav-item">@Html.ActionLink("About", "About", "Home")</li>
                    <li class="nav-item">@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
        <div class="login-form">
            <p id="login">Login</p>
        </div>
    </div>
</nav>
<body>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
