@model IEnumerable<demoo.Models.thongtinmathang>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tenmh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.theloai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nhacc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.giaban)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gianhap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.soluong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.url_image)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tenmh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.theloai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nhacc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.giaban)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gianhap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.soluong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.url_image)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.mamh }) |
            @Html.ActionLink("Details", "Details", new { id=item.mamh }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.mamh })
        </td>
    </tr>
}

</table>
